<h1>This Works</h1>
<h2>New</h2>
<p>{{ section.settings.liquid-red }}</p>

{% schema %}
{
"name": "Liquid Reference",
"settings": [
    {
        "id":"liquid-red",
        "type": "richtext",
        "label": "A Reference for Shopify Liquid"
    }
],


"presets": [
    {
    "name":"Liquid Reference",
    "category": "Reference"
    }
]

}

{% endschema %}