<h1>This Works</h1>

{% schema %}
{
"name": "Liquid Reference",
"settings": [
    {
        "id":"liquid-red",
        "type": "text",
        "label": "A Reference for Shopify Liquid"
    }
],


"presets": [
    {
    "name":"Liquid Reference",
    "category": "Reference"
    }
]

}

{% endschema %}